{% extends "mysite/sidebar.html" %}


{% load static %}
{% block info %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Podział na klasy równoważności</h1>
                <p>Podział równoważności jest to czarnoskrzynkowa technika projektowania przypadków testowych, w której przypadki testowe zaprojektowane są w taki sposób, by wykorzystywać elementy z klas równoważności. W szczególności przypadki testowe są zaprojektowane tak, aby przynajmniej jeden raz objąć każdą klasę równoważności, tj. wybrać przedstawiciela z każdej klasy równoważności[3].</p>
                <p>Obejmuje to organizowanie danych wejściowych systemu w celu tworzenia grup, które prowadzą do zachowań podobnych do oprogramowania. Dane w określonej klasie równoważności są traktowane w ten sam sposób. Technika ta ma zastosowanie do wejść i wyjść, wartości wewnętrznych, wartości zależnych od czasu i parametrów interfejsu.</p>
                <p>Podział równoważności działa względem określonych zasad[4]:</p>
                <ul>
                <li>identyfikacja klasy równoważności dla poprawnych danych, czyli tych wartości, które system powinien zaakceptować,</li>
                <li>identyfikacja klasy równoważności dla nieprawidłowych danych, czyli wartości, które system powinien odrzucić.</li>
                </ul>
                <p>Testy mają na celu objęcie dopuszczalnych i niedopuszczalnych klas równoważności. Podział równoważności można zastosować na dowolnym poziomie testowania.</p>
                <p>Klasy równoważności są następujące:</p>
                <ul>
                <li>klasa wartości niepoprawnych (-∞; 30) oraz (85; ∞);</li>
                <li>klasa wartości poprawnych <30; 85>.</li>
                </ul>
                <p>Wartości dla przypadków testowych:</p>
                <ul>
                    <li>dla testów klasy wartości poprawnej: 50;</li>
                    <li>dla testów klas wartości niepoprawnych: 20; 90.</li>
                </ul>
                <p>Obliczanie pokrycia:</p>
                <ul>
                    <li>1 przypadek testowy dla pokrycia klasy wartości poprawnej;</li>
                    <li>2 przypadki testowe dla pokrycia klas wartości niepoprawnych.</li>
                </ul>
                <p>Wszystkie liczby z zakresu od 30 do 85 (w tym liczby od 30 do 85, ponieważ w zadaniu mamy informację, że te wartości mieszczą się w prawidłowej klasie równoważności: między 30°C a 85°C) będą prawidłowymi wartościami - Pralka będzie działać normalnie. Jednak wszystkie liczby mniejsze niż 30 i większe niż 85 będą wartościami błędnymi – pralka nie będzie działać prawidłowo.</p>
                <p>Partycjonowanie równoważności opiera się na dzieleniu danych na grupy, które nazywane są klasami równoważności, tak aby każda grupa zawierała elementy, które należy traktować w ten sam sposób. Klasy równoważności można określić dla poprawnych wartości, które moduł lub system powinien akceptować oraz dla nieważnych wartości, które muszą zostać odrzucone. Klasy mogą być dalej podzielone na podklasy w razie potrzeby. Należy jednak pamiętać, że każda pojedyncza wartość może należeć tylko do jednej klasy równoważności[5].</p>
                <span>
                    <small class="center">Rysunek 2 Wizualizacja właściwego podziału klas</small>
                    <img src="{% static 'mysite/images/Obraz2.png' %}" alt="Rysunek 2 Wizualizacja właściwego podziału klas" class="center" />
                </span>
                <p>Uzyskanie 100% pokrycia jest uzależnione od przypadków testowych wykorzystujących wszystkie zidentyfikowane klasy równoważności (w tym nieodpowiednie klasy), co wymaga przetestowania co najmniej jednej wartości z każdej klasy.</p>
                <div>
                    <p>_____________</p>
                    <p>[3] Roman A., Stapp L., Certyfikowany tester ISTQB®: poziom podstawowy,. Gliwice 2020</p>
                    <p>[4] Dąbrowski M., Wieczne opóźnienie. Zarządzanie projektami IT, Gliwice 2021</p>
                    <p>[5] Roman A., Testowanie i jakość oprogramowania: modele, techniki, narzędzia, Warszawa 2015</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}