{% extends "mysite/sidebar.html" %}


{% block info %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>TESTOWANIE OPARTE NA PRZYPADKACH UŻYCIA</h1>
                <p>Testowanie przypadków użycia — przypadki użycia opisują interakcje z komponentami oprogramowania poprzez weryfikację wymagań funkcjonalnych. W tym miejscu możemy wprowadzić pojęcie „uczestników”, czyli modułów lub systemów takich jak użytkownicy, urządzenia zewnętrzne oraz „podmioty”, których sprawa dotyczy. Każdy przypadek użycia określa konkretną akcję, którą podmiot może wykonać we współpracy z aktorem. Testy interaktywne mogą prowadzić do zmian w statusie podmiotu.</p>
                <p>Przypadki użycia mogą obejmować podstawowe zachowanie systemu, potencjalne zmiany, zachowanie podstawowe, zachowanie wyjątków i obsługę błędów. Celem testu jest weryfikacja wszystkich zachowań zdefiniowanych powyżej. Przypadek użycia to narzędzie, które definiuje wymaganą interakcję użytkownika. Jeśli spróbujesz utworzyć nową aplikację lub wprowadzić zmiany w istniejącej aplikacji, będzie wiele dyskusji. Jedną z kluczowych dyskusji, którą musisz przeprowadzić, jest sposób przedstawienia wymagań oprogramowania.</p>
                <p>Eksperci biznesowi i programiści muszą rozumieć swoje potrzeby, ponieważ jest to trudne do osiągnięcia. Każdy standardowy sposób ustrukturyzowania komunikacji między nimi byłby dobrodziejstwem. To z kolei zmniejsza zamieszanie, do czego służą przypadki użycia.</p>
                <p>Diagram przypadków użycia to graficzna reprezentacja aktywności użytkownika w systemie. W tym przypadku dostępne jest świetne narzędzie i łatwo je zrozumieć, jeśli wykres ma wielu uczestników. Jeśli jest to diagram wysokiego poziomu, nie będzie on zbyt szczegółowy. Przedstawia złożone idee w dość prosty sposób[12].</p>
                <p>Jako przykład w życiu możesz przetestować następujący przypadek - naładuj telefon komórkowy określoną kwotą. Celem jest weryfikacja funkcjonalności doładowania telefonu oraz stanu początkowego - klient loguje się do aplikacji. Dodatkowo otwierane jest kilka kroków, które należy wykonać, aby transakcja zakończyła się sukcesem, np.:</p>
                <ol>
                    <li>Wybór opcji doładowania telefonu</li>
                    <li>Wprowadzanie niezbędnych danych:</li>
                    <li>Kwota doładowania</li>
                    <li>Numer telefonu, który chcemy doładować</li>
                    <li>Metoda płatności</li>
                    <li>Potwierdzanie operacji przyciskiem „Doładuj”</li>
                    <li>Weryfikacja danych</li>
                    <li>Autoryzacja transakcji kodem SMS</li>
                    <li>Potwierdzenie zlecenia transakcji przez użytkownika (transakcja jest akceptowana)</li>
                </ol>
                <p>Przypadki użycia mają ważną rolę w różnych fazach cyklu życia oprogramowania. Przypadki użycia zależą od „działań użytkownika” i „odpowiedzi systemu” na działania użytkownika. Jest to dokument „działań” wykonywanych przez aktora/użytkownika i odpowiadającego im „zachowania” systemu „działań” użytkownika. Przypadek użycia może, ale nie musi prowadzić do osiągnięcia celu „uczestnik/użytkownik” w zakresie interakcji z systemem. W przypadku użycia opisywane jest „Jak zareaguje system na dany scenariusz?” Jest on „zorientowany na użytkownika”, a nie „zorientowany na system”. Jest „zorientowany na użytkownika”: zdefiniujemy „jakie działanie podejmuje użytkownik?” i „co aktor widzi w systemie?”, a nie „zorientowany na system”: nie określimy „jakie dane wejściowe są przekazywane do system?” lub „Jakie wyniki generuje system?” Zespół programistów musi napisać „przypadki użycia”, ponieważ faza tworzenia oprogramowania w dużym stopniu od nich zależy.</p>
                <p>Twórcy przypadków użycia, członkowie zespołu i klienci wniosą wkład w przypadek użycia. Do ich tworzenia potrzebujemy wyrafinowanego zespołu programistycznego, który powinien bardzo dobrze rozumieć koncepcje projektu. Po zaimplementowaniu sprawy dokumentacja jest testowana i prawidłowo sprawdzane jest zachowanie systemu. Jeśli duże „A” oznacza „Aktor”, a litera „S” oznacza „System”. Ten dokument zawiera pełny przegląd różnych sposobów interakcji użytkowników z systemem w celu osiągnięcia swoich celów. Lepsza dokumentacja może pomóc w łatwiejszym określeniu wymagań systemowych oprogramowania. Ten dokument może być używany przez programistów, testerów oprogramowania i interesariuszy[13].</p>

                <div>
                    <p>_____________</p>
                    <p>[12] Melé, A. et al. (2021) Django 3: praktyczne tworzenie aplikacji sieciowych / Antonio Melé; przekład: Radosław Meryk, Robert Górczyński. Gliwice: Helion, s. 22.</p>
                    <p>[13] Grażyński, A. Myers, G. J. (2005) Sztuka testowania oprogramowania: nowoczesne techniki i zasady testowania aplikacji / Glenford J. Myers [tł. Andrzej Grażyński]. Gliwice: Wydawnictwo Helion, s. 37.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}