<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Czarnoskrzynkowe techniki testowania</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>



    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/apptesting/wstep">Czarnoskrzynkowe techniki testowania</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/show_applications">Aplikacje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/show_all_tests">Wszystkie testy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/wstep">Informacje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/logout">Wyloguj</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/login">Zaloguj</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apptesting/register">Zarejstruj</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      {% block content%}
      {% endblock %}

</body>
</html>